<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
        <link rel = "icon" type = "image/png" href = "https://files.slack.com/files-pri/TKXCYPJET-FMU4SPWMS/organic-food-logo-613ef00a48-seeklogo.com.png">

    <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
     <style>
        body {
                background-image: url("https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-repeat:  no-repeat;
    font-family: "Comic Sans MS", cursive, sans-serif;

        }
        .col-8{
            border-radius: 20px;
            background: rgba(0,0,0,0.5);
            padding: 20px;
            margin-top: 200px;
        }
    </style>

<body>

    <div class="container">


        <div class="row">
            <div class="col-2"></div>

            <div class=" col-8">
                <div class="alert alert-danger">
                    The email or password that you've entered doesn't match any account.
                </div><div>
                <span class="d-flex justify-content-center"><a class="btn btn-danger " href="/">Try again</a></span>
            </div></div>
            <div class="col-2"></div>

        </div>

    </div>
</body>
</html>