<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Calorify.Me!</title>
</head>
<style>
    .aa{
        background-image: url("https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    height: 1280px;
            
    }
    .transbox, .container-b {
        margin: 1px;
        background-color: #000000 ;
        border: 1.5px solid black ;
        opacity: 0.7;
        filter: alpha(opacity=20);
    }
</style>
<body>
    <div class="container-fluid aa " ><br>
        <div class="row">
​
            <!-- Column 1-->
            <div class="col-8">
                <div class="container" style="height: 250px;">
                    <!---  -->
                </div>
                <div class="container-b" style="height: 200px;">
                    <div class="row">
                        <div class="col-2">
                            <!----  -->
                        </div>
                        <div class="col-8 text-white"><br>
                            <p>Calories are a measure of energy and are commonly used to describe the energy content of foods.
                                    Your body is able to break down food molecules and use the stored energy for many different functions, including movement, thought and growth.
                                    Calories also play a role in weight control, because eating more calories than your body needs can lead to weight gain.
                            </p>
                            <b><i>-Blake Hagen</i></b>
                        </div>
                        <div class="col-2">
                            <!---  -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column 2-->
            <div class="col-3">
                <div class="row" style="display: none">
                    <div class="col-2">
                        <!---  -->
                    </div>
                    <div class="col-4 " >
                    </div>
                    <div class="col-2">
                        <!---  -->
                    </div>
                </div>
                <br><br><br>
                <div class="transbox"><br>
                <form style="margin: 2%;">
                    <div class="row">
                        <div class="col-2">
​
                        </div>
                        <div class="col-7 text-center text-white">
                            <h2>Calorify Me!</h2>
                        </div>
                      
                    </div>
                    <br />
                    <br />
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" maxlength="8" id="password" placeholder="Password">
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
                                    <!--  -->
                                </div>
                                <div class="col-4.5 text-white">
                                    <input type="checkbox" class="form-check-input" id="checkbox">
                                    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                                </div>
                                <div class="col-6">
                                    <a href="#" class="card-link">Forgot password?</a>
                                </div>
                            </div>
                        </div>        
                        <br />
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <hr>
                        <div class="text-center text-white">
                            <p>Or Login With</p>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" style="background-color: #18429b; width: 100%"><b>Facebook</b></button>
                            </div>
                            <br />
                            <br />
                            <div class="col-12">
                                <button type="submit" class="btn btn-danger" style="background-color: #c3423f; width: 100%"><b>Google+</b></button>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-12 text-white">
                                <p>Don't have an Account? Register now.</p>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                      <a href="/signup" class="btn btn-primary">Register</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       
 
</body>
</html>




