*{
    box-sizing:  border-box;
}
header{
    padding: 15px 0 6px;

}
#brand{
color: rgb(135, 156, 42);
}
.menu:hover{
    background-color: rgb(135, 156, 42);
    border-color: rgb(135, 156, 42);
    border-radius: 1.5rem;

 
}
.menu {
    border-radius: 1.5rem;
}
.links:hover{
    background-color:  rgb(152, 21, 55);
    border-radius: 1.5rem;
    color: orange;
    text-shadow: 2px 2px 5px black;
    box-shadow: 2px 2px 5px rgb(135, 156, 42);
        font-weight:  bold;

}
.logo{
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.links{
    color: rgb(135, 156, 42);
    /* font-weight:  bold; */
}
.navig{
    background: linear-gradient(90deg,rgb(97, 94, 94),black);
    border-left: 1px solid black;
    border-radius: 35px;
    padding: 5px,15px,5px,15px;

}
a:link:active, a:visited:active {
    color: orange;
  }
  .navigation{
      background: rgba(0,0,0,1)
  }
  .foot{
    background: rgba(0,0,0,1)
  
  }
b{
    font-size: 24px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
p{
    line-height: 1.5rem;
}
@media(max-width: 600px){
    p{
        font-size: .90rem;
        line-height: inherit;
    }
    
    
}


